
    <div class="d-flex flex-column flex-shrink-0 sidebar-wrap">
        <a href="#" class="text-decoration-none logo-wrap">
            <div class="icon-wrap"><i class="fab fa-slack"></i></div>
            <span>Computer Vision</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item ">
                <a href="{{ url_for('index') }}" class="nav-link active" aria-current="page">
                    <div class="icon-wrap">
                        <i class="fas fa-home"></i>
                    </div>
                    <span> Home</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('settings') }}" class="nav-link">
                    <div class="icon-wrap">
                        <i class="fas fa-tachometer-alt"></i>
                    </div>
                    <span>Settings</span>
                </a>
            </li>
            <li>
                <a href="{{url_for('capture_image') }}" class="nav-link">
                    <div class="icon-wrap">
                        <i class="fab fa-first-order"></i>
                    </div>
                    <span>Capture Image</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('live_detection') }}" class="nav-link">
                    <div class="icon-wrap">
                        <i class="fab fa-product-hunt"></i>
                    </div>
                    <span>Live Detection</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link">
                    <div class="icon-wrap">
                        <i class="fab fa-intercom"></i>
                    </div>

                    <span>Customers</span>
                </a>
            </li>
        </ul>
        <hr>
        <div class="dropdown">
            <a href="#" class="text-decoration-none dropdown-toggle  dropdown-wrap" id="dropdownUser2"
               data-bs-toggle="dropdown" aria-expanded="false">
                <div class="icon-wrap">
                    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle">
                </div>
                <strong>Customers</strong>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
    </div>
